@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
*{
	box-sizing: border-box;
}

	body{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
/* MOBILE VERSION */
	/* NAV BAR */

	.barnav{
		text-align: center;
		box-shadow: 0 0 5px grey;
    }
    .logo{
       padding: 10px 0;
    }

   .logo img{
	  width: 30%;
    }
    input {
	   border: none;
	   font-size: 22px;
	   background-color: rgb(234, 234,234);
	   padding-top: 15px;
	   padding-bottom: 15px;
	 flex-wrap: wrap;
	   
      }
     input::placeholder{
	   color: #000;
	   text-align: left;
	   margin-left: 2px;
       }
    nav p {
	   background-color: rgb(234, 234,234);
	   display: flex;
       align-items: center;
       justify-content: center;
       margin-top: 0px;
       box-shadow: -1px -1px 2px grey;
       margin: 0 auto;
       padding-left: 120px;
    }

    /*fin nav bar*/
    /* MENU */
    .menu-card{
    	background-color: rgb(246, 246,246);
    	text-align: center;
    	margin-top: -18px;
    	padding-bottom: 50px;
    }
   .menu-card h2{
   	padding-top: 30px;
	text-transform: initial;
	font-weight: bold;
	font-size: 22px;
    }
    .menu-card p{
    	font-size: 18px;
    }

    .button{
    	display: inline-block;
    	color: #FFF;
    	font-size: 18px;
    	border: none;
    	padding: 15px;
    	border-radius: 30px;
    	background-image: linear-gradient(#FF79DA, #9356DC);
    }
    .button:active{
    	background-image:linear-gradient(#FF79DA,rgb(107,39, 190)) ;
    }
    /* FIN MENU */

    /* FONCTIONNEMENT */
    .functioning .menu-link {
    	margin: 0 5%;

    }
    .functioning h2{
    	padding: 0 20px ;
    }
    .functioning .menu-link a{
    	text-decoration:none;
    	color: #000;
    	background-color: rgb(246, 246,246) ;
    	border-radius: 20px;
    	display: flex;
    	margin-left: 20px;
    	font-size: 22px;
    	margin-bottom: 10px;
    	padding: 20px 10px;
    	align-items: center;
    	padding-left: 10%;
    	box-shadow: 1px 1px 1px grey;
    	position: relative;
       }
       .functioning .menu-link a::before{
       	content: '';
       	height: 25px;
       	width: 25px;
       	border-radius: 10px;
       	background: #9356DC ;
       	color: #fff;
       	position: absolute;
       	top: 40%;
       	left: -10px;
       }
        .functioning .menu-link #resto a::before{
        	content: '1';

        }
        .functioning .menu-link #compo a::before{
        	content: '2';

        }
        .functioning .menu-link #deguster a::before{
        	content: '3';

        }
       .functioning .menu-link p{
       	margin-left: 2%;
       }
    /* FIN FONCTIONNEMENT */
    /* RESTAURANTS */
    .restaurants{
    	background-color: rgb(246, 246,246);
    	padding-bottom: 10px;
    }
    .restaurants h2{
    	font-size: 25px;
    	padding: 10px 0 0 10px;
    	}
    .restaurants .restaurant{
    	box-sizing: border-box;
    	margin: 0 10% auto;
    }
    .restaurants  .restaurant .meals{
    	display: flex;
    	flex-direction: column;
    	box-shadow: 1px 1px 2px lightgrey;
    	background-color: #fff;
    	border-radius: 20px;
    	overflow: hidden;
    	font-size: 20px;
    	margin-bottom: 20px;
    	width: 100%;
        }
        .restaurants  .restaurant .meals h3, .meals p{
         margin-left: 15px;
        }

        
    .restaurants .restaurant .meals img{
	width: 100%;
	height: 220px;
	object-fit: cover;
    }
    .restaurants  .restaurant .meals h3{
    	margin-top:0px;
    	margin-bottom: -20px;
    }
    .restaurants  .restaurant .meals a{
    	text-decoration: none;
    	color: #000;
    }
    .restaurants  .restaurant .meals i{
    	display: flex;
    	justify-content: end;
    	padding-right: 10px;
    }
    /* fin restaurants */
    /*FOOTER*/
    footer .footer {
    	display: flex;
    	flex-direction: column;
    	background-color: rgb(53, 53, 53);
    	padding-left: 10px;
    	padding: 15px;
    }
    .footer{
    	color: #FFF;

    }
    .footer a{
    	color: #000;
    	text-decoration:none ;
    	font-size: 18px;
    	color: #fff;
    }
    .footer i{
    	width: 20px;
    	color: #fff;
    }
    .footer p{
    	font-family: Shrikhand, sans-serif;
    	font-size: 20px;
    	margin-left: -10px;
    }
    .footer > *{
    	margin-bottom: 10px;
    }
    /*FIN FOOTER*/


    /* --LES PAGES DES MENUS--*/
    .imgppl img{
    	width: 100%;
    	height: 300px;
    	object-fit: cover;
    	margin-bottom: -15px;
    	position: relative;
   }
    .all-menus{
    	background-color: rgb(246, 246, 246);
    	padding-bottom: 30px;
    	padding: 10px;
    	border-radius: 50px 50px 0 0;
    	position: absolute;
    	top: -20px;
    	
    	position: relative;
    }
    .all-menus .title{
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    }
    .all-menus h1{
    	font-family: Shrikhand, sans-serif;
    	width: 300px;
    	font-size: 30px;
       
    }
   .all-menus .title .fa-heart{
        font-size: 30px;
        padding-right: 10%;
   }
    .all-menus h2{
    	border-bottom: 3px solid #99E2D0 ;
    	text-transform: uppercase;
    	font-weight: normal;
    	font-size: 18px;
    	width: 8%;
    }
    .menus .menus-cards{
    	background-color: #fff;
    	border-radius: 20px;
    	padding: 10px;
    	margin: 10px 0;
    	box-shadow: 1px 1px 2px lightgrey;
    }
    .menus .menus-cards h3{
    	font-size: 18px;
    	margin-bottom: -10px;
    }
    .menus .menus-cards div{
    	display: flex;
    	justify-content: space-between;

    }
    .menus .menus-cards .price{
    	font-weight: bold;
    }
    .all-menus .btn{
    	text-align: center;
    	border: none;
    	margin-top: 40px;
    	margin-bottom: 50px;
    }
    .all-menus .button{
    	width: 50%;
    }

    /* MEDIA QUERIES */
    
    @media screen and (min-width: 800px){
    	body{
    		max-width: 1000px;
    		margin: 0 auto;
    	}
    	.functioning{
    		text-align: center;
    	}
    	.functioning .menu-link{
    		display: flex;
    	}
    	.functioning a{
    		text-align: center;
    	}
    	.restaurants{
    		text-align: center;
    	}
    	.restaurants .restaurant .meals {
    		width: 45%;
    		margin-right: 5%;
    	}
    	.restaurants .restaurant{
    		display: flex;
    		flex-wrap: wrap;
    	}
        footer .footer{
        	display: flex;
        	flex-direction: row;
        	align-items: center;
        	justify-content: space-around;
        }
        footer .footer p{
        	margin-top: 0px;
        }
        /* PAGES MENUS */
        .menus {
        	display: flex;
        	flex-direction: row;
        	align-items: stretch;
        }
        .menus .menus-cards{
        	margin-right: 10px;
        }
       
    }