@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
*{
	box-sizing: border-box;
}

	body{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
/* MOBILE VERSION */
	/* NAV BAR */
    .barnav .fa-arrow-left{
    	font-size: 25px;
    	color: #000;
        padding-left: 10px;


    }
	.barnav{
		text-align: center;
		box-shadow: 0 0 5px grey;

    }
    .bar{
        display: flex;
        align-items: center;
        justify-content: center;

		
    }
    .logo{
       padding: 10px 0;
       display: flex;
       justify-content: center;
       text-align: center;
    }

   .logo img{
	  width: 30%;
       
    }
    input {
	   border: none;
	   font-size: 22px;
	   background-color: rgb(234, 234,234);
	   padding-top: 15px;
	   padding-bottom: 15px;
	 flex-wrap: wrap;
	   
      }
     input::placeholder{
	   color: #000;
	   text-align: left;
	   margin-left: 2px;
       }
    nav p {
	   background-color: rgb(234, 234,234);0
	   display: flex;
       align-items: center;
       justify-content: center;
       margin-top: 0px;
       box-shadow: -1px -1px 2px grey;
       margin: 0 auto;
       padding-left: 120px;
    }

    /*fin nav bar*/
    /* MENU */
    .menu-card{
    	background-color: rgb(246, 246,246);
    	text-align: center;
    	margin-top: -18px;
    	padding-bottom: 50px;
    }
   .menu-card h2{
     	padding-top: 30px;
	    text-transform: initial;
	    font-weight: bold;
	   font-size: 22px;
    }
    .menu-card p{
    	font-size: 18px;
    }

    .button{
    	display: inline-block;
    	color: #FFF;
    	font-size: 18px;
    	border: none;
    	padding: 15px;
    	border-radius: 30px;
    	background-image: linear-gradient(#FF79DA, #9356DC);
       }
    .button:hover{
    	background-image:linear-gradient(#FF79DA,rgba(107,39, 190,0.3)) ;
    	box-shadow: 1px 1px 2px #9356DC ;
       }
    /* FIN MENU */

    /* FONCTIONNEMENT */
    .functioning .menu-link {
    	margin: 0 5%;

       }
    .functioning h2{
    	padding: 0 20px ;
        }
    .functioning .menu-link a{
    	text-decoration:none;
    	color: #000;
    	background-color: rgb(246, 246,246) ;
    	border-radius: 20px;
    	display: flex;
    	margin-left: 20px;
    	font-size: 22px;
    	margin-bottom: 10px;
    	padding: 20px 10px;
    	align-items: center;
    	padding-left: 10%;
    	box-shadow: 1px 1px 1px grey;
    	position: relative;
       }
       .functioning .menu-link a::before{
       	content: '';
       	height: 25px;
       	width: 25px;
       	border-radius: 10px;
       	background: #9356DC ;
       	color: #fff;
       	position: absolute;
       	top: 40%;
       	left: -10px;
       }
        .functioning .menu-link #resto a::before{
        	content: '1';

        }
        .functioning .menu-link #compo a::before{
        	content: '2';

        }
        .functioning .menu-link #deguster a::before{
        	content: '3';

        }
       .functioning .menu-link p{
       	margin-left: 2%;
       }
    /* FIN FONCTIONNEMENT */
    /* RESTAURANTS */
    .restaurants{
    	background-color: rgb(246, 246,246);
    	padding-bottom: 10px;
    }
    .restaurants h2{
    	font-size: 25px;
    	padding: 10px 0 0 10px;
    	}
    .restaurants .restaurant{
    	box-sizing: border-box;
    	margin: 0 10% auto;
    }
    .restaurants  .restaurant .meals{
    	display: flex;
    	flex-direction: column;
    	box-shadow: 1px 1px 2px lightgrey;
    	background-color: #fff;
    	border-radius: 20px;
    	overflow: hidden;
    	font-size: 20px;
    	margin-bottom: 20px;
    	width: 100%;
        position: relative;
        }
        .restaurants .restaurant .meals .new::before{
            content: 'Nouveau';
            background: #99e2d0;
            width: 100px;
            height: 25px;
            top: 10px;
            right: 10px;
            position: absolute;
            color: #fff;
            z-index: 1;
            text-align: center;
            color: #1b6150;

        }
    .restaurants  .restaurant .meals h3, .meals p{
         margin-left: 15px;
        }

        
    .restaurants .restaurant .meals img{
     	width: 100%;
	    height: 220px;
	    object-fit: cover;
        position: relative;
    }
    .restaurants  .restaurant .meals h3{
    	margin-top:0px;
    	margin-bottom: -20px;
    }
    .restaurants  .restaurant .meals a{
    	text-decoration: none;
    	color: #000;
        
    }
    .restaurants  .restaurant .meals i{
    	font-size: 18px;
        position: absolute;
        right: 10px;
        top: 80%;
}
.fa-solid.fa-heart{
    background-clip: text;
    color: transparent ;
    background-image: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    opacity: 0;
    
}
 .fa-solid:hover{
        opacity: 1;
         animation: heart 1s;
 }

 @keyframes heart{
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1.1);

    }

 }
    /* fin restaurants */
    /*FOOTER*/
    footer .footer {
    	display: flex;
    	flex-direction: column;
    	background-color: rgb(53, 53, 53);
    	padding-left: 10px;
    	padding: 15px;
    	
    }
    .footer{
    	color: #FFF;

    }
    .footer a{
    	color: #000;
    	text-decoration:none ;
    	font-size: 18px;
    	color: #fff;
    }
    .footer i{
    	width: 20px;
    	color: #fff;
    }
    .footer p{
    	font-family: Shrikhand, sans-serif;
    	font-size: 20px;
    	margin-left: -10px;
    }
    .footer > *{
    	margin-bottom: 10px;
    }
    /*FIN FOOTER*/
    /* LOADER  */
   .loader{
    border-radius: 50px;
    border: 6px solid rgba(255,255,255,0.54);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    }

   .loader::after{
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    bottom: -7px;
    right: -7px;
    border-radius: 50%;
    border: 7px solid #9356DC;
    border-top-color: white;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
    .loaders{
        height: 100vh;
        position: fixed;
        background-color: #fff;
        z-index: 2;
        opacity: 0.9;
        inset:0 ;
        animation: loader 3s;
        animation-fill-mode: forwards;
    }
@keyframes loader{
    0%{
        transform: scale(1);
        height: 100%;
    
    }
    99%{
        opacity: 0;
        height: 100%;
    }
    100%{
        height: 0;
        opacity: 0;
    }
} /*fin loader*/


    /* --LES PAGES DES MENUS--*/
    .imgppl img{
    	width: 100%;
    	height: 300px;
    	object-fit: cover;
    	z-index: -1;
    }
    .all-menus{
    	background-color: rgb(246, 246, 246);
    	padding-bottom: 30px;
    	padding: 10px;
    	border-radius: 50px 50px 0 0;
    	margin-top: -30px;
        position: relative}
        .menus{
        animation: menus 3s;

        }
@keyframes menus{
    0%{
        transform: translateY(10%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;

    }
}
    .all-menus .title{
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    }
    .all-menus h1{
    	font-family: Shrikhand, sans-serif;
    	width: 90%;
    	font-size: 30px;
        position: relative ;
       
    }
   .all-menus .title .fa-heart{
        font-size: 30px;
        position: absolute;
        top: 3%;
        right: 3%;

   }
    .all-menus h2{
    	border-bottom: 3px solid #99E2D0 ;
    	text-transform: uppercase;
    	font-weight: normal;
    	font-size: 18px;
    	width: 8% ;
        
    }
    
    .menus .menus-cards {
    	background-color: #fff;
    	border-radius: 20px;
    	padding: 8px;
    	margin: 10px 0;
    	box-shadow: 1px 1px 2px lightgrey;
        overflow: hidden;
        }
        .menus .menus-cards .a{
            display: flex; 
            align-self: flex-end;       
      }
     
      .menus .menus-cards .b, .menus .menus-cards h3, .menus .menus-cards p{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    .menus .menus-cards i{
        z-index: 2;
        color: white;
        transform-origin: center;
           animation: checks 0.5s;
           font-size: 30px;
    }

        .menus .menus-cards:hover i{
        animation: check 1s;
       }
    .menus .menus-cards .check{
        background-color: #99e2d0;
        z-index:1 ;
        width: 80px;
        height: 100px;
        margin-top: -40px;
        margin-bottom: -9px;
        margin-right: -92px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        padding-right: 2px;
        border-radius: 0 ;

        }
      .menus .menus-cards:hover .check{
        margin-right: -10px;
        transition: all 1s;
      }
    
  
    @keyframes check{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(-360deg);
        }
    }
    @keyframes checks{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
    
    .menus .menus-cards h3{
    	font-size: 18px;
    	margin-bottom: -10px;
    }
    
    .menus .menus-cards .price{
    	font-weight: bold;
        padding-right: 10px;
        margin-left: 5px;
        
        
    }
    .menus .menus-cards{
        display: flex;
        justify-content: space-between;
    }

    
    .all-menus .btn{
    	text-align: center;
    	border: none;
    	margin-top: 40px;
    	margin-bottom: 50px;
    }
    .all-menus .button{
    	width: 50%;
     }

     /* MEDIA QUERIES */
    @media screen and (max-width: 430px){
        nav p{
            padding-left: 10%;
        }
    }
    @media screen and (min-width: 800px){
    	body{
    		max-width: 1220px;
    		margin: 0 auto;
    	}
    	.functioning{
    		text-align: center;
    	}
    	.functioning .menu-link{
    		display: flex;
            justify-content: center;
         }
    	.restaurants{
    		text-align: center;
    	}
    	.restaurants .restaurant .meals {
    		width: 45%;
    		margin-right: 5%;
    	}
    	.restaurants .restaurant{
    		display: flex;
    		flex-wrap: wrap;
    	}
        footer .footer{
        	display: flex;
        	flex-direction: row;
        	align-items: center;
        	justify-content: space-around;
        }
        footer .footer p{
        	margin-top: 0px;
        }
        /* PAGES MENUS */
        .menus {
        	display: flex;
        }
        .menus .menus-cards{
        	margin-right: 10px;

        }
       
    }